<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>average</th>
		</tr>
	</thead>
	<tbody>
		<% items.each do |i| %>
		<tr>
			<td><%= link_to i.name, i %></td>
			<td><%= i.average_rating %></td>
		</tr>
		<% end %>
	</tbody>
</table>