body{
	padding-top: 100px;
}
.main-wrapper{
	width: 100%;
	margin: 0px auto;
	max-width: 1000px;
	padding: 0px 40px 0px 40px;
}
.main-wrapper .content-left{
	float: left;
	padding-right: 40px;
	width: 70%;
}
.main-wrapper .content-right{
	float: right;
	width: 30%;
}
.fa-sm{
	font-size: 80%;
}
.margin-top{
	margin-top: 15px;
}
.margin-left{
	margin-left: 15px;
}